<form action="/posts" method="POST">
  
  <% if @post.errors[:title].present? %>
  <p><%= @post.errors.full_messages.first %></p>
  <% end %>

  <p>
    <label>Title</label><br />
    <input type="text" name="title" />
  </p>

  <p>
    <label>Title</label><br />
    <textarea name="content"></textarea>
  </p>

  <input type="submit" />
</form>
